<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTestExtensions" version="4.0.0" targetFramework="net45" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
  <package id="SpecFlow.MsTest" version="1.0.0" targetFramework="net45" />
  <package id="StealFocus.MSTestExtensions" version="1.0.30329.0" targetFramework="net45" />
  <package id="ZetaLongPaths" version="1.0.0.7" targetFramework="net45" />
</packages>